/* -------- text and fonts -------- */
// @import './saga-blue.scss';

:root {
  font-size: 16px;
}

body,
body::before,
body::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  color: var(--text-color);
  background: white;
  transition:
    color 0.5s,
    background-color 0.5s;
  font-family:
    BCSans,
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  color: var(--p-primary-color) !important;
  font-size: 2.25rem;
}

h2 {
  color: var(--p-primary-color) !important;
  font-size: 2rem;
}

h3 {
  color: var(--p-primary-color) !important;
  font-size: 1.75rem;
}

h4 {
  color: var(--p-primary-color) !important;
  font-size: 1.5rem;
}

h5 {
  color: var(--p-primary-color) !important;
  font-size: 1.25rem;
}

h3,
h4,
h5 {
  margin-top: 0;
}

p {
  line-height: 1.5rem;
}

a,
a:visited {
  color: var(--p-linktext);
  text-decoration: underline;
  &:hover {
    color: var(--p-linktexthover);
  }
}

label {
  color: #38598a;
  display: inline-block;
  margin-bottom: 0.5rem;
}

.wrap-block {
  display: inline-block;
  overflow-wrap: break-word;
  width: 100%;
  td {
    width: inherit;
  }
}

/* -------- layout ----------*/

.app-primary-color {
  color: var(--p-primary-color) !important;
}

.app-error-background {
  background-color: $app-error !important;
}

.app-error-border {
  border-color: $app-error !important;
}

.app-error-color {
  color: var(--p-red-500) !important;
}

.app-error-message {
  color: var(--p-red-500);
  font-size: 0.8rem;
}

/* ---------- primevue overrides ------------ */

/* buttons */
// .p-button:hover {
//   text-decoration: underline;
//   opacity: 0.8;
// }

// .p-button .p-button-icon:before {
//   text-decoration: none;
//   display: inline-block;
// }

// .p-button {
//   border-width: 2px;
//   &:not(.p-button-secondary, .p-button-success, .p-button-info, .p-button-warning, .p-button-help, .p-button-danger) {
//     color: var(--p-primary-color);
//     &:not(.p-button-outlined, .p-button-text) {
//       background-color: var(--p-primary-color);
//       border-color: var(--p-primary-color);
//       color: var(--p-outlineonprimary);
//     }
//   }
// }

// .p-button-outlined {
//   border-width: 2px;
// }
.p-confirm-dialog-reject {
  border: 2px solid var(--p-primary-color);
}

/* checkboxes, radios, input switches */
.p-checkbox.p-highlight {
  &:hover {
    opacity: 0.8;
  }
}

.p-checkbox.p-highlight .p-checkbox-box,
.p-radiobutton.p-highlight .p-radiobutton-box,
.p-toggleswitch-checked .p-toggleswitch-slider:not(.p-disabled) {
  background: var(--p-primary-color);
  border-color: var(--p-primary-color);
}

/* datatable */
.p-datatable {
  &.p-datatable-striped tbody > tr {
    &:nth-child(even) {
      background-color: var(--p-tablestripebackground);
    }
  }
  tbody {
    tr {
      &.p-highlight {
        background: var(--p-highlightbackground) !important;
      }
      &:focus {
        outline: none !important;
      }
    }
    .p-frozen-column {
      z-index: 1; // display over non-text elements (eg: checkboxes) in other columns
    }
  }
  .p-column-title {
    font-weight: bold;
  }
  .p-paginator {
    justify-content: right;
  }
}

.p-menu .p-menuitem-link {
  text-decoration: none !important;
}

.header-right .p-column-header-content {
  justify-content: right;
}

/* modal */
.p-dialog-footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
}

.app-info-dialog {
  .p-dialog-header {
    .svg-inline--fa {
      color: var(--p-primary-color);
      font-size: 1.8rem;
    }

    .p-dialog-title {
      flex-grow: 1;
      font-size: 1.8rem;
      font-weight: bold;
    }
  }
}

/* side panel */
.side-panel > div .svg-inline--fa {
  color: var(--p-primary-color);
  font-size: 1.8rem;
}

/* hover effects */
.hover-hand:hover {
  cursor: pointer;
}

.hover-shadow:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
