@tailwind base;
@tailwind components;
@tailwind utilities;

/* -------- text and fonts -------- */
:root {
  font-size: 16px;
}

html {
  font-family:
    BCSans,
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
}

body,
body::before,
body::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  background: white;
  transition:
    color 0.5s,
    background-color 0.5s;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  color: var(--p-primary-color);
  font-size: 2.25rem;
  font-weight: 700;
  margin: 1.75rem 0 1.75rem 0;
}

h2 {
  color: var(--p-primary-color);
  font-size: 2rem;
  font-weight: 700;
  margin: 1.75rem 0 1.75rem 0;
}

h3 {
  color: var(--p-primary-color);
  font-size: 1.75rem;
  font-weight: 700;
}

h4 {
  color: var(--p-primary-color);
  font-size: 1.5rem;
  font-weight: 700;
}

h5 {
  color: var(--p-primary-color);
  font-size: 1.25rem;
  font-weight: 700;
}

p {
  line-height: 1.5rem;
}

a {
  color: var(--p-primary-color);
  &:hover {
    text-decoration: underline;
  }
}

label {
  color: #38598a;
  display: inline-block;
  margin-bottom: 0.5rem;
}

.wrap-block {
  display: inline-block;
  overflow-wrap: break-word;
  width: 100%;
  td {
    width: inherit;
  }
}


/* -------- layout ----------*/

.app-primary-color {
  color: var(--p-primary-color) !important;
}

.app-error-background {
  background-color: $app-error !important;
}

.app-error-border {
  border-color: $app-error !important;
}

.app-error-color {
  color: var(--p-red-500) !important;
}

.app-error-message {
  color: var(--p-red-500);
  font-size: 0.8rem;
}

/* ---------- primevue overrides ------------ */

.p-accordionheader {
  justify-content: flex-start !important;
  .p-accordionheader-toggle-icon {
    order: -1;
    margin-right: 1rem;
  }
}

/* buttons */
.p-button {
  border-width: 2px !important;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;

  .p-button-label:hover {
    text-decoration: underline;
  }
}

.p-card {
  .p-divider {
    margin-bottom: 0;
  }
}

/* datatable */
.p-datatable {
  .p-paginator {
    justify-content: right;
  }

  .p-datatable-frozen-column {
    background: inherit !important;
  }
}

.header-right .p-datatable-column-header-content {
  justify-content: right;
}

/* modal */
.p-dialog-footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: right !important;
}

/* tabs */
.p-tab {
  text-decoration: underline;
  font-size: var(--p-font-size);
}

/* tooltip */
.p-tooltip {
  &.p-tooltip-top .p-tooltip-arrow {
      border-top-color: var(--p-surface-800);
    }
  &.p-tooltip-right .p-tooltip-arrow {
    border-right-color: var(--p-surface-800);
  }
  &.p-tooltip-bottom .p-tooltip-arrow {
    border-bottom-color: var(--p-surface-800);
  }
  &.p-tooltip-left .p-tooltip-arrow {
    border-left-color: var(--p-surface-800);
  }

  .p-tooltip-text {
    background-color: var(--p-surface-800);
    color: var(--p-surface-0);
  }
}

.app-error-message {
  color: var(--p-error-color);
  font-size: 0.8rem;
}

.app-info-dialog {
  .p-dialog-header {
    .svg-inline--fa {
      color: var(--p-primary-color);
      font-size: 1.8rem;
    }

    .p-dialog-title {
      flex-grow: 1;
      font-size: 1.8rem;
      font-weight: bold;
    }
  }
}

/* hover effects */
.hover-hand:hover {
  cursor: pointer;
}

.hover-shadow:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

/* pointer events */
.no-click {
  pointer-events: none;
}
