/* -------- text and fonts -------- */

:root {
  font-size: 16px;
}

html {
  font-family:
    BCSans,
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
}

body,
body::before,
body::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  color: var(--text-color);
  background: white;
  transition:
    color 0.5s,
    background-color 0.5s;
  font-weight: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  color: var(--p-primary-color) !important;
  font-size: 2.25rem;
}

h2 {
  color: var(--p-primary-color) !important;
  font-size: 2rem;
}

h3 {
  color: var(--p-primary-color) !important;
  font-size: 1.75rem;
}

h4 {
  color: var(--p-primary-color) !important;
  font-size: 1.5rem;
}

h5 {
  color: var(--p-primary-color) !important;
  font-size: 1.25rem;
}

h3,
h4,
h5 {
  margin-top: 0;
}

p {
  line-height: 1.5rem;
}

a,
a:visited {
  color: var(--p-linktext);
  text-decoration: underline;
  &:hover {
    color: var(--p-linktexthover);
  }
}

label {
  color: #38598a;
  display: inline-block;
  margin-bottom: 0.5rem;
}

.wrap-block {
  display: inline-block;
  overflow-wrap: break-word;
  width: 100%;
  td {
    width: inherit;
  }
}

/* -------- layout ----------*/

.app-primary-color {
  color: var(--p-primary-color) !important;
}

.app-error-background {
  background-color: $app-error !important;
}

.app-error-border {
  border-color: $app-error !important;
}

.app-error-color {
  color: var(--p-red-500) !important;
}

.app-error-message {
  color: var(--p-red-500);
  font-size: 0.8rem;
}

/* ---------- primevue overrides ------------ */

/* datatable */
.p-datatable {
  .p-paginator {
    justify-content: right;
  }
}

.header-right .p-datatable-column-header-content {
  justify-content: right;
}

/* modal */
.p-dialog-footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: right !important;
}

.app-info-dialog {
  .p-dialog-header {
    .svg-inline--fa {
      color: var(--p-primary-color);
      font-size: 1.8rem;
    }

    .p-dialog-title {
      flex-grow: 1;
      font-size: 1.8rem;
      font-weight: bold;
    }
  }
}

/* hover effects */
.hover-hand:hover {
  cursor: pointer;
}

.hover-shadow:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
