/* --------- variable overrides for primevue--------- */
// ref: https://primevue.org/colors/
:root {
  // --text-color: #495057;
  // --primary-color: #036;
}

/* -------- custom css variables --------- */
// buttons, links
$app-primary: #036;
$app-error: #D8292F;

$app-link-text: #1a5a96;
$app-link-text-hover: #00f;
$app-hover: #4696EC;
$app-outline-on-primary: #fff;
$app-out-of-focus: #ccc;
$app-green: #2e8540;
$app-grey: #e9ecef;

// highlighted sections, table rows
$app-highlight-background: #d9e1e8;
$app-table-stripe-background: #f2f2f2;

// project view various colors
$app-proj-white-one: #efefef;
$app-proj-white-two: #fbfbfb;
$app-proj-grey-one: #868585;
$app-proj-grey-two: #999999;
$app-proj-black: rgba(0, 0, 0, 0.03);

// AuthorizationStatusPill hex colors
$app-pill-green: #42814a;
$app-pill-lightgreen: #f6fff8;

$app-pill-grey: #f3f2f1;
$app-pill-lightgrey: #353433;

$app-pill-red: #ce3e39;
$app-pill-lightred: #f4e1e2;

$app-pill-yellow: #f8bb47;
$app-pill-lightyellow: #fef1d8;

$app-pill-text: #2d2d2d;

$app-red-border: #A12622; // TODO: Check color with PrimeVue 4 style
$app-red-background: #F2DEDE; // TODO: Check color with PrimeVue 4 style
$app-red-text: #A12622; // TODO: Check color with PrimeVue 4 style


