// General font/etc colors
$app-primary: #036;
$app-link-text: #1a5a96;
$app-link-text-hover: #00f;
$app-outline-on-primary: #fff;

// Panel/row/etc backgrounds
$app-highlight-background: #d9e1e8;
$app-table-stripe-background: #f2f2f2;
