{{- $atsPassword := (randAlphaNum 32) }}
{{- $atsUsername := (randAlphaNum 32) }}
{{- $chesPassword := (randAlphaNum 32) }}
{{- $chesUsername := (randAlphaNum 32) }}
{{- $dbPassword := (randAlphaNum 32) }}
{{- $dbUsername := (randAlphaNum 32) }}
{{- $f1Password := (randAlphaNum 32) }}
{{- $f1Username := (randAlphaNum 32) }}
{{- $f2Password := (randAlphaNum 32) }}
{{- $f2Username := (randAlphaNum 32) }}
{{- $oPassword := (randAlphaNum 32) }}
{{- $oUsername := (randAlphaNum 32) }}
{{- $osPassword := (randAlphaNum 32) }}
{{- $osUsername := (randAlphaNum 32) }}
{{- $peachPassword := (randAlphaNum 32) }}
{{- $peachUsername := (randAlphaNum 32) }}
{{- $ssoPassword := (randAlphaNum 32) }}
{{- $ssoUsername := (randAlphaNum 32) }}

{{- $atsSecretName := printf "%s-%s" (include "pcns.configname" .) "ats" }}
{{- $atsSecret := (lookup "v1" "Secret" .Release.Namespace $atsSecretName ) }}
{{- $chesSecretName := printf "%s-%s" (include "pcns.configname" .) "ches-service-account" }}
{{- $chesSecret := (lookup "v1" "Secret" .Release.Namespace $chesSecretName ) }}
{{- $dbSecretName := printf "%s-%s" (include "pcns.configname" .) "passphrase" }}
{{- $dbSecret := (lookup "v1" "Secret" .Release.Namespace $dbSecretName ) }}
{{- $f1SecretName := printf "%s-%s" (include "pcns.configname" .) "form1" }}
{{- $f1Secret := (lookup "v1" "Secret" .Release.Namespace $f1SecretName ) }}
{{- $f2SecretName := printf "%s-%s" (include "pcns.configname" .) "form2" }}
{{- $f2Secret := (lookup "v1" "Secret" .Release.Namespace $f2SecretName ) }}
{{- $oSecretName := printf "%s-%s" (include "pcns.configname" .) "oidc" }}
{{- $oSecret := (lookup "v1" "Secret" .Release.Namespace $oSecretName ) }}
{{- $osSecretName := printf "%s-%s" (include "pcns.configname" .) "objectstorage" }}
{{- $osSecret := (lookup "v1" "Secret" .Release.Namespace $osSecretName ) }}
{{- $peachSecretName := printf "%s-%s" (include "pcns.configname" .) "peach" }}
{{- $peachSecret := (lookup "v1" "Secret" .Release.Namespace $peachSecretName ) }}
{{- $ssoSecretName := printf "%s-%s" (include "pcns.configname" .) "sso" }}
{{- $ssoSecret := (lookup "v1" "Secret" .Release.Namespace $ssoSecretName ) }}

{{- if and (not $dbSecret) (not .Values.patroni.enabled) }}
---
apiVersion: v1
kind: Secret
metadata:
  {{- if not .Values.config.releaseScoped }}
  annotations:
    "helm.sh/resource-policy": keep
  {{- end }}
  name: {{ $dbSecretName }}
  labels: {{ include "pcns.labels" . | nindent 4 }}
type: Opaque
data:
  password: {{ .Values.dbSecretOverride.password | default $dbPassword | b64enc | quote }}
  username: {{ .Values.dbSecretOverride.username | default $dbUsername | b64enc | quote }}
  app-db-password: {{ .Values.dbSecretOverride.password | default $dbPassword | b64enc | quote }}
  app-db-username: {{ .Values.dbSecretOverride.username | default $dbUsername | b64enc | quote }}
{{- end }}
{{- if not $f1Secret }}
---
apiVersion: v1
kind: Secret
metadata:
  {{- if not .Values.config.releaseScoped }}
  annotations:
    "helm.sh/resource-policy": keep
  {{- end }}
  name: {{ $f1SecretName }}
  labels: {{ include "pcns.labels" . | nindent 4 }}
type: kubernetes.io/basic-auth
data:
  password: {{ .Values.form1SecretOverride.password | default $f1Password | b64enc | quote }}
  username: {{ .Values.form1SecretOverride.username | default $f1Username | b64enc | quote }}
{{- end }}
{{- if not $f2Secret }}
---
apiVersion: v1
kind: Secret
metadata:
  {{- if not .Values.config.releaseScoped }}
  annotations:
    "helm.sh/resource-policy": keep
  {{- end }}
  name: {{ $f2SecretName }}
  labels: {{ include "pcns.labels" . | nindent 4 }}
type: kubernetes.io/basic-auth
data:
  password: {{ .Values.form2SecretOverride.password | default $f2Password | b64enc | quote }}
  username: {{ .Values.form2SecretOverride.username | default $f2Username | b64enc | quote }}
{{- end }}
{{- if not $chesSecret }}
---
apiVersion: v1
kind: Secret
metadata:
  {{- if not .Values.config.releaseScoped }}
  annotations:
    "helm.sh/resource-policy": keep
  {{- end }}
  name: {{ $chesSecretName }}
  labels: {{ include "pcns.labels" . | nindent 4 }}
type: kubernetes.io/basic-auth
data:
  password: {{ .Values.chesSecretOverride.password | default $chesPassword | b64enc | quote }}
  username: {{ .Values.chesSecretOverride.username | default $chesUsername | b64enc | quote }}
{{- end }}
{{- if not $osSecret }}
---
apiVersion: v1
kind: Secret
metadata:
  {{- if not .Values.config.releaseScoped }}
  annotations:
    "helm.sh/resource-policy": keep
  {{- end }}
  name: {{ $osSecretName }}
  labels: {{ include "pcns.labels" . | nindent 4 }}
type: kubernetes.io/basic-auth
data:
  password: {{ .Values.objectStorageSecretOverride.password | default $osPassword | b64enc | quote }}
  username: {{ .Values.objectStorageSecretOverride.username | default $osUsername | b64enc | quote }}
{{- end }}
{{- if not $oSecret }}
---
apiVersion: v1
kind: Secret
metadata:
  {{- if not .Values.config.releaseScoped }}
  annotations:
    "helm.sh/resource-policy": keep
  {{- end }}
  name: {{ $oSecretName }}
  labels: {{ include "pcns.labels" . | nindent 4 }}
type: kubernetes.io/basic-auth
data:
  password: {{ .Values.oidcSecretOverride.password | default $oPassword | b64enc | quote }}
  username: {{ .Values.oidcSecretOverride.username | default $oUsername | b64enc | quote }}
{{- end }}
{{- if not $ssoSecret }}
---
apiVersion: v1
kind: Secret
metadata:
  {{- if not .Values.config.releaseScoped }}
  annotations:
    "helm.sh/resource-policy": keep
  {{- end }}
  name: {{ $ssoSecretName }}
  labels: {{ include "pcns.labels" . | nindent 4 }}
type: kubernetes.io/basic-auth
data:
  password: {{ .Values.ssoSecretOverride.password | default $ssoPassword | b64enc | quote }}
  username: {{ .Values.ssoSecretOverride.username | default $ssoUsername | b64enc | quote }}
{{- end }}
{{- if not $atsSecret }}
---
apiVersion: v1
kind: Secret
metadata:
  {{- if not .Values.config.releaseScoped }}
  annotations:
    "helm.sh/resource-policy": keep
  {{- end }}
  name: {{ $atsSecretName }}
  labels: {{ include "pcns.labels" . | nindent 4 }}
type: kubernetes.io/basic-auth
data:
  password: {{ .Values.atsSecretOverride.password | default $atsPassword | b64enc | quote }}
  username: {{ .Values.atsSecretOverride.username | default $atsUsername | b64enc | quote }}
{{- end }}
{{- if not $peachSecret }}
---
apiVersion: v1
kind: Secret
metadata:
  {{- if not .Values.config.releaseScoped }}
  annotations:
    "helm.sh/resource-policy": keep
  {{- end }}
  name: {{ $peachSecretName }}
  labels: {{ include "pcns.labels" . | nindent 4 }}
type: kubernetes.io/basic-auth
data:
  password: {{ .Values.peachSecretOverride.password | default $peachPassword | b64enc | quote }}
  username: {{ .Values.peachSecretOverride.username | default $peachUsername | b64enc | quote }}
{{- end }}
