name: Pull Request Closed

env:
  ACRONYM: pcns
  APP_NAME: nr-permitconnect-navigator-service
  NAMESPACE_PREFIX: d9d78e

on:
  pull_request:
    branches:
      - master
      - 'feature/**'
      - 'release/**'
    types:
      - closed

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  remove-pr-dev:
    name: Remove PR build from dev namespace
    if: "! github.event.pull_request.head.repo.fork"
    environment:
      name: pr
      url: https://${{ env.ACRONYM }}-dev-pr-${{ github.event.number }}.apps.silver.devops.gov.bc.ca
    runs-on: ubuntu-latest
    timeout-minutes: 12
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Login to OpenShift Cluster
      uses: bcgov/action-oc-runner@f900830adadd4d9eef3ca6ff80103e839ba8b7c0 # v1.3.0
      with:
        oc_server: ${{ secrets.OPENSHIFT_SERVER }}
        oc_token: ${{ secrets.OPENSHIFT_TOKEN }}
        oc_namespace: ${{ env.NAMESPACE_PREFIX }}-dev
    - name: Remove PR Deployment
      shell: bash
      run: |
        helm uninstall --namespace ${{ env.NAMESPACE_PREFIX }}-dev pr-${{ github.event.number }} --timeout 10m --wait
        oc delete --namespace ${{ env.NAMESPACE_PREFIX }}-dev cm,secret --selector app.kubernetes.io/instance=pr-${{ github.event.number }}
    - name: Remove Release Comment on PR
      uses: marocchino/sticky-pull-request-comment@773744901bac0e8cbb5a0dc842800d45e9b2b405 # v2.9.4
      with:
        header: release
        delete: true
    - name: Remove Github Deployment Environment
      uses: strumwolf/delete-deployment-environment@v3
      with:
        environment: pr
        onlyRemoveDeployments: true
        token: ${{ secrets.GITHUB_TOKEN }}
